<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305092484662-d8s02tp7ol0flm28qc92tqlel048naub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305092484662-d8s02tp7ol0flm28qc92tqlel048naub</string>
	<key>API_KEY</key>
	<string>AIzaSyAUBXvcXCd3ZzNaSi6680H0hU8ZtbgMJjg</string>
	<key>GCM_SENDER_ID</key>
	<string>305092484662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ceres.suwatte</string>
	<key>PROJECT_ID</key>
	<string>mttn-suwatte</string>
	<key>STORAGE_BUCKET</key>
	<string>mttn-suwatte.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305092484662:ios:71c27929d01752b3970297</string>
</dict>
</plist>